body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
img {
  height: 50px;
}
nav {
  margin-right: 12px;
}
span {
  padding-left: 25px;
  text-decoration: underline;
}
#logo {
  margin-left: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin-top: 0;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
}
